<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.extend.AnswerVMMapper">
  <select id="findAllAnswerVM"  resultMap="AnswerVMResultMap1">
  	select * from poll_answer
  </select>
  <resultMap type="com.briup.app02.vm.AnswerVM" id="AnswerVMResultMap1">
	<id column="id" property="id"/>
  	<result column="selection" property="selection"/>
  	<result column="check" property="check"/> 
  	<result column="content" property="content"/> 
  	<association column="survey_id" property="survey" select="com.briup.app02.dao.AnswerMapper.findById"></association>  	
  </resultMap>
  
  <select id="findAnswerVMById"  resultMap="AnswerVMResultMap2">
  	select * from poll_answer where id=#{id}
  </select>
  <resultMap type="com.briup.app02.vm.AnswerVM" id="AnswerVMResultMap2">
	<id column="id" property="id"/>
  	<result column="selection" property="selection"/>
  	<result column="check" property="check"/> 
  	<result column="content" property="content"/> 
  	<association column="survey_id" property="survey" select="com.briup.app02.dao.AnswerMapper.findById"></association> 	
  </resultMap>
</mapper>