<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.extend.QqVMMapper">
  <select id="findAllQqVM"  resultMap="QqVMResultMap1">
  	select * from poll_qq group by questionnaire_id
  </select>
  <resultMap type="com.briup.app02.vm.QqVM" id="QqVMResultMap1">
  	<id column="id" property="id"/>
	<result column="questionnaire_id" property="questionnaire"/>
  	<association column="questionnaire_id" property="question" select="com.briup.app02.dao.QuestionMapper.findById"></association>  	
  </resultMap>
  
  <select id="findQqVMById"  resultMap="QqVMResultMap2">
  	select * from poll_qq where id=#{id}
  </select>
  <resultMap type="com.briup.app02.vm.QqVM" id="QqVMResultMap2">
  	<id column="id" property="id"/>
    <result column="questionnaire_id" property="questionnaire"/>
  	<association column="questionnaire_id" property="question" select="com.briup.app02.dao.QuestionMapper.findById"></association> 
  </resultMap>
</mapper>
