<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.extend.QuestionVMMapper">
  <select id="findAllQuestionVM"  resultMap="QuestionVMResultMap1">
  	select * from poll_question
  </select>
  <resultMap type="com.briup.app02.vm.QuestionVM" id="QuestionVMResultMap1">
	<id column="id" property="id"/>
  	<result column="name" property="name"/>
  	<result column="questiontype" property="questiontype"/> 
  	<collection column="id" property="option" select="com.briup.app02.dao.OptionMapper.findById"></collection> 	
  </resultMap>
  
  <select id="findQuestionVMById"  resultMap="QuestionVMResultMap2">
  	select * from poll_question where id=#{id}
  </select>
  <resultMap type="com.briup.app02.vm.QuestionVM" id="QuestionVMResultMap2">
	<id column="id" property="id"/>
  	<result column="name" property="name"/>
  	<result column="questiontype" property="questiontype"/> 
  	<collection column="id" property="option" select="com.briup.app02.dao.OptionMapper.findById"></collection>
  </resultMap>
</mapper>