<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.extend.SurveyVMMapper">
  <select id="findAllSurveyVM"  resultMap="SurveyVMResultMap1">
  	select * from poll_survey
  </select>
  <resultMap type="com.briup.app02.vm.SurveyVM" id="SurveyVMResultMap1">
	<id column="id" property="id"/>
  	<result column="state" property="state"/>
  	<result column="average" property="average"/> 
  	<result column="surveydate" property="surveydate"/> 
  	<association column="questionnaire_id" property="questionnaire" select="com.briup.app02.dao.QuestionnaireMapper.findById"></association>
  	<association column="user_id" property="user" select="com.briup.app02.dao.UserMapper.findById"></association>
  	<association column="clazz_id" property="clazzVM" select="com.briup.app02.dao.extend.ClazzVMMapper.findClazzVMById"></association>
  	<association column="course_id" property="course" select="com.briup.app02.dao.CourseMapper.findById"></association>	
  </resultMap>
  
  <select id="findSurveyVMById"  resultMap="SurveyVMResultMap2">
  	select * from poll_survey where id=#{id}
  </select>
  <resultMap type="com.briup.app02.vm.SurveyVM" id="SurveyVMResultMap2">
	<id column="id" property="id"/>
  	<result column="state" property="state"/>
  	<result column="average" property="average"/> 
  	<result column="surveydate" property="surveydate"/> 
  	<association column="questionnaire_id" property="questionnaire" select="com.briup.app02.dao.questionnaireMapper.findById"></association>
  	<association column="user_id" property="user" select="com.briup.app02.dao.UserMapper.findById"></association>
  	<association column="clazz_id" property="clazzVM" select="com.briup.app02.dao.clazzVMMapper.findClazzVMById"></association>
  	<association column="course_id" property="course" select="com.briup.app02.dao.courseMapper.findById"></association>		
  </resultMap>
</mapper>